<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width,
                   initial-scale=1,
                   shrink-to-fit=no">
    <title>
      
    </title>
    
    <!-- Include Bootstrap for styling -->
    <link rel="stylesheet"
          href=
  "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- Include the Bootstrap Table CSS
    for the table -->
    <link rel="stylesheet" 
          href=
  "https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
  </head>
  

<body>
  <div class="container">
    <h1 class="text text-success text-center ">
      BU SOFT TECH 
    </h1>
    <h6 class="text text-success text-center">
      User Complaint Form
    </h6>
    <form action="/similar" method="POST">
      <label for="text">Enter incident Subject : </label>
      <input type="text" id="subject"  name="subject"><br><br>
      <label for="text">Enter incident Text : </label>
      <input type="text" id="text"  name="text"><br><br>
      <button type="submit" style="width: 150px; height: 50px;" value="Predict Similar" formaction="/similar"> Predict similar</button>
      <button type="submit" style="width: 150px; height: 50px;" value="Classify" formaction="/classify"> Classify </button>
      <button type="submit" style="width: 150px; height: 50px;" value="Sentiment" formaction="/sentiment"> Predict Sentiment</button>

    </form>
        
  </div>
  
  <!-- Include jQuery and other required
  files for Bootstrap -->
  <script src=
"https://code.jquery.com/jquery-3.3.1.min.js">
  </script>
  <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
  </script>
  <script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>
  
  <!-- Include the JavaScript file
  for Bootstrap table -->
  <script src=
"https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js">
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
  
  // Use the given data to create 
  // the table and display it
  $('table').bootstrapTable({
	data: mydata
  });
});

// Parse the imported data as JSON
// and store it

var mydata = JSON.parse(da);


    // Specify the JSON data to be displayed
   
  </script>
</body>
</html>